.py-0 {
	background-color: #0055A2;
}

.text-l {
	color: white;
}

.logout-button {
	background-color: #E5A823;
	color: white;
}

.logout-button:hover {
	background-color: #c4901f;
}

.toggle {
	color: #E5A823;
}