<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="/js/functions.js"></script>
    <title>SJSU Course Curate</title>
    <h1>Welcome to SJSU Course Curate!</h1>
    <h2>Will add cool CSS styling soon.</h2>
</head>
<body>

    <form>

        <!-- button to lead to sign up page -->
        <button type="button" onclick="goSignup()">Sign Up</button><br>

        <!-- button to lead to login page -->
        <button type="button" onclick="goLogin()">Login</button><br>

    </form>
</body>
</html>